$left-padding: 60px;

.background {
    position: relative;
    height: 100vh;
    background-image: url(/salina.jpg);
    background-size: cover;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
}


.mainHeaderBlock {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: $left-padding;
}

.mainHeader {
    font-size: 6em;
    color: white;
    margin-bottom: 0;
}

.mainSubHeader {
    font-size: 4em;
    color: white;
}

